.main {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.carouselImageWrapper {
    position: relative;
    overflow: hidden;
}

.carouselImageWrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    filter: blur(500px);
   
}

.carouselImage {
    width: 100%;
    height: auto;
    display: block;
    max-height: 500px;
    object-fit: cover;
}

.carouselCaption {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.carouselText {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    display: inline-block;
}